* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "Montserrat";
}

a {
  text-decoration: none;
}

ul li {
  list-style-type: none;
}

.blue-width {
  width: 100%;
  background-color: #1e266d;
}

.white-width {
  width: 100%;
  background-color: white;
}

.gray-width {
  width: 100%;
  background-color: #f8f8f9;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.content-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.border-bottom {
  border-bottom: 1px solid rgba(189, 186, 186, 0.2);
}
